In [42]:
import pandas as pd

data = pd.read_csv(r'/home/chris/Documents/The-Bible/Notes/python/practice/projects/car_data.csv')

In [43]:
df = pd.DataFrame(data)

In [44]:
print(df)

        Unnamed: 0                                                  Model  \
0                0                                  2022 Acura TLX A-Spec
1                1                                  2023 Acura RDX A-Spec
2                2                                  2023 Acura TLX Type S
3                3                                  2023 Acura TLX Type S
4                4  2019 Acura MDX Sport Hybrid 3.0L w/Technology Package
...            ...                                                    ...
115757       10005             2023 Volkswagen Atlas 3.6L SE w/Technology
115758       10006                           2023 Volkswagen Taos 1.5T SE
115759       10007                                2012 Volkswagen Beetle
115760       10008                             2022 Volkswagen ID.4 Pro S
115761       10009                          2013 Volkswagen Passat 2.5 SE

        Year Status        Mileage    Price             MSRP
0       2022    New  Not available  $49,445     MSRP $49,445
1       2023    New  Not available  $50,895    Not specified
2       2023    New  Not available  $57,745    Not specified
3       2023    New  Not available  $57,545    Not specified
4       2019   Used     32,675 mi.  $40,990  $600 price drop
...      ...    ...            ...      ...              ...
115757  2023    New  Not available  $47,346    Not specified
115758  2023    New  Not available  $30,895    Not specified
115759  2012   Used    100,395 mi.   $9,994  $252 price drop
115760  2022    New  Not available  $52,585    Not specified
115761  2013   Used    125,757 mi.  $10,995    Not specified

[115762 rows x 7 columns]

In [45]:
list(df)

['Unnamed: 0', 'Model', 'Year', 'Status', 'Mileage', 'Price', 'MSRP']

In [46]:
df = df.drop('Unnamed: 0', axis=1)

In [47]:
df = df.drop('MSRP', axis=1)

In [62]:
pd.set_option('display.max_colwidth', 30)

In [63]:
print(df)

                                Model  Year Status        Mileage    Price
0               2022 Acura TLX A-Spec  2022    New  Not available  $49,445
1               2023 Acura RDX A-Spec  2023    New  Not available  $50,895
2               2023 Acura TLX Type S  2023    New  Not available  $57,745
3               2023 Acura TLX Type S  2023    New  Not available  $57,545
4       2019 Acura MDX Sport Hybri...  2019   Used     32,675 mi.  $40,990
...                               ...   ...    ...            ...      ...
115757  2023 Volkswagen Atlas 3.6L...  2023    New  Not available  $47,346
115758   2023 Volkswagen Taos 1.5T SE  2023    New  Not available  $30,895
115759        2012 Volkswagen Beetle   2012   Used    100,395 mi.   $9,994
115760     2022 Volkswagen ID.4 Pro S  2022    New  Not available  $52,585
115761  2013 Volkswagen Passat 2.5 SE  2013   Used    125,757 mi.  $10,995

[115762 rows x 5 columns]